.App {
  text-align: center;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header.js */
.header-top{
  background: linear-gradient(90deg, #812868 0%, #f954a4 100%);
  height: auto;
  margin-top: -10px;
  color: #fff;
  padding-left: 100px;
  padding-right: 100px;

  /* padding-left: 15px;
  padding-right: 15px; */
}
/* .header-top-para{
  font-size: 15px;
} */


.top-contact a{
  color: #fff;
  text-decoration: none;
}
i{
  margin-right: 10px;
}

/* Menu.js */
.header-menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  padding-left: 150px;
  padding-right: 150px;
}
.logo img{
  width: 120px;
  height: 72px;
}
.nav{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: space-around; */
  align-items: center;
  width: 940px;
  
}
.nav a{
  color: #000000;
  text-decoration: none;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav :hover{
  color: #f954a4;
  border-top: 2px solid #f954a4;
  border-bottom: 2px solid #f954a4;
}
.responsive-contact{
  justify-content: center;
  gap: 10px;
  display: none;
  /* flex-wrap: wrap; */
  /* background-color: #000000; */
  /* width: 100%; */
  
}
.menu-contact{
  width: 250px;
  height: auto;
  margin: 15px 0 30px;
  /* background-color: red; */
}
.responsive-contact a{
  color: rgb(30, 27, 27);
  text-decoration: none;
}
.select-box{
  display: none;
  width: 100%;
  justify-content: center;
  background-color: red;
}
/* Image slider */
.image-slider-container {
  position: relative;
  width: 100%;
  height: auto; /* Set your desired height */
  overflow: hidden;
}

.image-slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
  transition: transform 0.5s ease; /* Add a smooth transition effect */
}

.nav-button {
  position: absolute;
  top: 50%;
  font-size: 24px;
  background-color: rgb(0,0,0,0.6);
  border: none;
  color: white;
  cursor: pointer;
  height: 50px;
}

.left {
  left: 0;
  transform: translateY(-50%);
}
.right{
  right: 0;
  transform: translateY(-50%);

}


/* Markque.js */
.marquee-container{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding-left: 150px;
    padding-right: 150px;
    /* background-color: red; */
}
.marquee{
  display: inline-block;
  width: 78%;
  color: #b11e6f;
  font-weight: bold;
  white-space: nowrap;
  margin-left: 50px;
}

/* Welcome.js */
.welcome-container{
  width: 70%;
  text-align: center;
  margin-left: 15%;
}
.welcome-heading{
  text-align: center;
}
.welcome-container p{
  text-align: center;
  font-size: 17px;
  color: #000000b4;
  line-height: 23px;
  font-weight: normal;
}

/* OnlineClass.js */
.online-class-container{
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  background: linear-gradient(100deg, rgba(0, 0, 0, 1), rgba(35, 31, 32, 0.6)), url("https://www.nifafinearts.com/images/appbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 90px 15px;
    color: #fff;
    height: auto;
    display: flex;
    
}
.online-class{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
    /* display: block; */
    max-width: 1170px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.online-class-para{
  margin-right: 15px;
  width: 40%;
}
.online-class-video{
  width: 58.33333333%;
  margin-top: 60px;
}
.online-class-child{
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 20px solid #fff;
  padding-bottom: 56.25%;
}
iframe{
  overflow-clip-margin: content-box !important;
  overflow: clip !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.download{
  /* padding-left: 0; */
    list-style: none;
    margin-left: -5px;
    padding-right: 5px;
    padding-left: 5px;
    gap: 10px;
}
.download a {
  margin-right: 10px;
}
.download img{
  width: 150px;
}

/* Course.js */
.course-container{
  background: url("https://www.nifafinearts.com/images/artboard2.png") no-repeat center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}
.course-heading h2{
  text-align: center;
}
.row {
  /* margin-right: 15px;
  margin-left: 15px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  
}
.col{
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  margin-bottom: 4rem;
  text-align: center;
  width: 250px;
  height: auto;
  padding-bottom: 30px;
  transition: transform 0.3s ease-in-out box-shadow 0.3s ease-in-out;
}
.col img {
  width: 100%;
  height: 50%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.col p{
  color: #000;
  padding: 20px 20px;
  text-decoration: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.col:hover{
  transform: translateY(-10px);
  box-shadow: -20px 0 25px -15px rgba(0, 0, 0, 0.1), 20px 0 25px -15px rgba(0, 0, 0, 0.1), 0 20px 25px -15px rgba(0, 0, 0, 0.1);
}

/* Gallery.js */
.gallery-top-container{
  text-align: center;
}
.gallery-container{
  width: 80%;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  padding-left: 10%;
  /* padding-right: 10%; */
  overflow: hidden;
}
.gallery-col{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.gallery-col img{
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 1vmin;
}

.gallery-heading{
  text-align: center;
}
.gallery-item{
  height: 40vh;
  flex-grow: 1;
  margin: 1vmin;
  list-style: none;
}

/* VideoGallery.js */
.video-gallery-container{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  background: url("https://www.nifafinearts.com/images/student-talk.jpg") no-repeat center;
  background-size: cover;
  padding: 70px 0;
  background-attachment: fixed;
}
.video-gallery-heading{
  text-align: center;
  color: #fff;
}
.video-col{
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  margin-bottom: 4rem;
  text-align: center;
  width: 350px;
  height: auto;
}
.video-item{
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 5px solid #fff;
  padding-bottom: 56.25%;
}

/* Footer.js */
.footer-container{
  width: 100%;
}
.footer{
  padding-top: 5rem;
  padding-bottom: 2rem;
  /* background-color: #f9f9f9; */
  color: #000;
  background: url("https://www.nifafinearts.com/images/fotbg2.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
}


.footer li {
  background: transparent;
  border: none;
  padding: 3px 0;
}
.list-item {
  position: relative;
  display: block;
  /* padding: 10px 15px; */
  margin-bottom: -1px;
  /* background-color: #fff; */
  /* border: 1px solid #ddd; */
}
.list-item a{
  color: #000;
  text-decoration: none;
}
.list-item a:hover{
  color: #b11e6f;
}
.list-group{
  padding-left: 0;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
}
.footer-head{
  font-size: 18px;
  color: #000;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-weight: 600;
}
.footer-col a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}
.social-list-item{
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.social-list{
  padding-left: 0;
}
.social-list-item a{
  border-radius: 50%;
    background: #fff;
    /* padding: 0; */
    padding-left: 20%;
    width: 25px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    /* text-align: center; */
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.2);
    font-size: 15px;
    margin-right: 20px;
}
.footer-row-last{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media(max-width: 440px){
  .header-top-para{
    font-size: 0.8rem;
  }
  .header-top{
    padding-left: 20px;
    padding-right: 20px;
  }
  .top-contact a{
    font-size: 0.8rem;
  }
  .header-social a{
    font-size: 0.8rem;
  }
  .welcome-heading h1{
    font-size: 19px;
    line-height: 25px;
  }
  .online-class-para{
    width: 100%;
  }
  .online-class-video{
    width: 100%;
  }

}

@media(max-width: 758px){
  .nav{
    display: none;
  }
  .header-menu{
    justify-content: center;
  }
  .responsive-contact{
    display: flex;
  }
  .select-box{
    display: flex;
    /* background-color: black; */
  }
  .marquee-container{
    padding-left: 10px;
    padding-right: 10px;
  }
  .online-class-para{
    width: 80%;
  }
  .online-class-video{
    width: 80%;
  }
  .online-class-child{
    border: 5px solid #fff;
   
  }
  .last-img{
    width: 100%;
  }
  .footer-row{
    gap: 20px;
  }
}
